<div class="container">
    <div class="signup__container">
        <h1 class="title"> Sign Up </h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" novalidate class="signup__container__form">
            <mat-form-field>
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="Firstname" formControlName="firstname">
                <mat-error
                    *ngIf="signUpForm.get('firstname')?.invalid && (signUpForm.get('firstname')?.dirty || signUpForm.get('firstname')?.touched) && signUpForm.get('firstname')?.errors?.required">
                    Firstname is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="Lastname" formControlName="lastname">
                <mat-error
                    *ngIf="signUpForm.get('lastname')?.invalid && (signUpForm.get('lastname')?.dirty || signUpForm.get('lastname')?.touched) && signUpForm.get('lastname')?.errors?.required">
                    Lastname is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error
                    *ngIf="!signUpForm.get('email')?.errors?.required && (signUpForm.get('email')?.errors?.pattern)">
                    Please enter a valid email address
                </mat-error>
                <mat-error
                    *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched) && signUpForm.get('email')?.errors?.required">
                    Email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="!signUpForm.get('password')?.errors?.required">
                    Password length must be greater than or equal to 8 and password must contain one or more uppercase ,
                    lowercase ,
                    numeric and special characters
                </mat-error>
                <mat-error
                    *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched) && signUpForm.get('password')?.errors?.required">
                    Password is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput type="text" placeholder="Confirm Password" formControlName="password2">
                <mat-error
                    *ngIf="signUpForm.get('password2')?.invalid && (signUpForm.get('password2')?.dirty || signUpForm.get('password2')?.touched) && signUpForm.get('password2')?.errors?.required">
                    Password is required
                </mat-error>
                <mat-error
                    *ngIf="signUpForm.get('password2')?.invalid && (signUpForm.get('password2')?.dirty || signUpForm.get('password2')?.touched) && signUpForm.get('password2')?.errors?.mustMatch">
                    Passwords must match
                </mat-error>
            </mat-form-field>
            <button [disabled]="!signUpForm.valid" mat-raised-button color="primary" mat-button>Sign Up</button>
        </form>
    </div>
</div>