<div class="container">
    <div class="login__container">
        <h1 class="title"> Login </h1>
        <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="login__container__form">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="abc@xys.com" formControlName="email">
                <mat-error
                    *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
                    Please enter a valid email address
                </mat-error>
                <mat-error
                    *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
                    Email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error
                    *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                    Password is required
                </mat-error>
            </mat-form-field>
            <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button>Sign In</button>
        </form>
    </div>
</div>